@{
    ViewData["Title"] = "DeleteMember";
}
@{
    <h1>Delete Member</h1>
    <h2>Enter Member ID To Delete</h2>
    <form action="">
        <label for="`MemberId">Member ID:</label><br>
        <input type="text" id="memberId" name="memberId"><br>

        <input type="submit" value="Submit">
    </form>
}
