@{
    ViewData["Title"] = "DeleteProduct";
}
@{
    <h1>Delete Product</h1>
    <h2>Enter Product ID To Delete</h2>
    <form action="">
        <label for="ProductId">Product ID:</label><br>
        <input type="text" id="ProductId" name="ProductId"><br>

        <input type="submit" value="Submit">
    </form>
}
