@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GoToGre</h1>
    <p>"As a membership company we're always focused on reducing churn and increasing satisfaction. We know that collecting feedback from customers throughout the customer's lifecycle has allowed us to achieve both."</p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
