@{
    ViewData["Title"] = "UpdateProduct";
}
@{
    <h1>Update Product</h1>
    <form action="">
        <!--  Prefill All Prouct Details -->
        <label for="ProductName">Product name:</label><br>
        <input type="text" id="ProductName" name="ProductName"><br>
        <!--Dropdown or Radio Buttons -->
        <label for="ProductType">Product Type:</label><br>
        <input type="text" id="ProductType" name="ProductType"><br><br>
        <!--Dropdown or Radio Buttons-->
        <label for="ProductQuantity">Product Quantity:</label><br>
        <input type="text" id="ProductQuantity" name="ProductQuantity"><br><br>
        <!--Validate Range-->
        <label for="ProductCost">Product Cost:</label><br>
        <input type="text" id="ProductCost" name="ProductCost"><br><br>



        <input type="submit" value="Submit">
    </form>
}
